@font-face { 
  font-family: "Geogrotesque Md"; 
  src: url("//db.onlinewebfonts.com/t/a7806a992d9fa4b7db96d73d03e40619.eot"); 
  src: url("//db.onlinewebfonts.com/t/a7806a992d9fa4b7db96d73d03e40619.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/a7806a992d9fa4b7db96d73d03e40619.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/a7806a992d9fa4b7db96d73d03e40619.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/a7806a992d9fa4b7db96d73d03e40619.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/a7806a992d9fa4b7db96d73d03e40619.svg#Geogrotesque Md") format("svg"); 
  unicode-range:U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Geogrotesque Bd"; 
  src: url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.eot");
  src: url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.svg#Geogrotesque Bd") format("svg");
  unicode-range:U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: "Geogrotesque Bd"; 
  src: url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.eot");
  src: url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/e98aca0c61904993003142f2a51604c6.svg#Geogrotesque Bd") format("svg");
}

@font-face {
  font-family: "Geogrotesque"; 
  src: url("//db.onlinewebfonts.com/t/fcc91ae87444e0558a00d6a43b6e4a22.eot"); 
  src: url("//db.onlinewebfonts.com/t/fcc91ae87444e0558a00d6a43b6e4a22.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/fcc91ae87444e0558a00d6a43b6e4a22.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/fcc91ae87444e0558a00d6a43b6e4a22.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/fcc91ae87444e0558a00d6a43b6e4a22.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/fcc91ae87444e0558a00d6a43b6e4a22.svg#Geogrotesque") format("svg"); 
  unicode-range:U+0041-005A, U+0061-007A;
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: local('Spoqa Han Sans Neo Light'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: local('Spoqa Han Sans Neo Regular'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: local('Spoqa Han Sans Neo Medium'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: local('Spoqa Han Sans Neo Bold'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@latest/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}
